body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #241468;
  }
  
  header {
    background-color: #9F0D7F;
    padding: 2em;
    text-align: center;
    color: #fff; /* ligher text on darker background */
  }
  
  nav {
    background-color: #EA1179;
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav a {
    color: #fff; /* white text on darker background */
    display: block;
    padding: 1em;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #F79BD3;
  }
  
  main {
    padding: 2em;
    text-align: center;
    color: #fff; /* lighter text on darker background */
  }
  
  footer {
    background-color: #EA1179;
    padding: 1em;
    text-align: center;
    color: #fff; /* lighter text on darker background */
  }
  
  .game-container {
    display: inline-block;
    text-align: center;
    margin: 20px;
    border: 1px solid #F79BD3;
    padding: 20px;
    width: 200px;
    height: 250px;
    background-color: #9F0D7F;
    border-radius: 20px;
    transition: all 0.3s;
  }
  
  .game-container:hover {
    background-color: #EA1179;
    transform: scale(1.05);
    box-shadow: 0 0 10px #F79BD3;
    cursor: pointer;
  }
  
  .game-container img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .game-container p {
    font-weight: bold;
    color: #F79BD3;
  }
  
  body::-webkit-scrollbar {
    width: 10px;
    background-color: #9F0D7F;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #EA1179;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #9F0D7F;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    background: #241468;
    color: #fff; /* white text on darker background */
    border: 1px solid #F79BD3;
    border-radius: 15px;
    text-align: center;
    width: 60%;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border-radius: 0 20px 20px 0;
    background-color: #9F0D7F;
    color: white;
    border: none;
    transition: 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #EA1179;
    cursor: pointer;
  }