body {
    background-color: #241468;
}

.search-container {
    background-color: #F79BD3;
    margin-bottom: 20px;
}

/* To display game icons side by side in a row and scroll horizontally */
.featured {
    display: flex;
    overflow-x: auto;
    background-color: #9F0D7F;
    color: #EA1179;
}

.game-icon {
    margin: 10px;
}

.game-icon:hover {
    border: 2px solid #EA1179;
}