/* Add your custom styles here */

body {
    font-family: Arial, sans-serif;
    background-color: #241468;
  }
  
  header, main {
    padding: 20px;
    color: white;
  }
  
  h1, h2 {
    color: #F79BD3;
  }
  
  /* You can style the game icons as you prefer */
  .game-icon {
    width: 100px;
    height: 100px;
    background-color: #9F0D7F;
    margin: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .game-icon img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  
  .game-name {
    background-color: #EA1179;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
  }
  
  .game-icon:hover .game-name {
    opacity: 1;
    visibility: visible;
  }
  
  /* Featured Games Scrolling Animation */
  .featured-games-container {
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-marquee 20s linear infinite;
  }
  
  @keyframes scroll-marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  
